<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "css.html" . }}
  </head>
  <body>
    <!-- Preloader -->
    <div id="preloader">
      <div id="status"></div>
    </div>
    {{ partial "navbar.html" . }}
    {{ partial "navbar-clone.html" . }}

    
    <section class="section is-medium">
      <div class="container">
        <div class="columns">
          <div class="column is-one-fifth">
            
    {{ partial "list-menu.html" . }}
            

          
            <aside class="menu">
              <p class="menu-label">
                General
              </p>
              <ul class="menu-list">
                <li><a>Dashboard</a></li>
                <li><a>Customers</a></li>
              </ul>
              <p class="menu-label">
                Administration
              </p>
              <ul class="menu-list">
                <li><a>Team Settings</a></li>
                <li>
                  <a class="is-active">Manage Your Team</a>
                  <ul>
                    <li><a>Members</a></li>
                    <li><a>Plugins</a></li>
                    <li><a>Add a member</a></li>
                  </ul>
                </li>
                <li><a>Invitations</a></li>
                <li><a>Cloud Storage Environment Settings</a></li>
                <li><a>Authentication</a></li>
              </ul>
              <p class="menu-label">
                Transactions
              </p>
              <ul class="menu-list">
                <li><a>Payments</a></li>
                <li><a>Transfers</a></li>
                <li><a>Balance</a></li>
              </ul>
            </aside>
          </div>
          <div class="column is-centered-tablet-portrait">
            <h1 class="title section-title mb">{{ .Title }}</h1>
            <h5 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h5>
            <div class="divider"></div>  <br>
              <div class="mt-40">
                {{ .Content }}
              </div>
            
          </div>
          <div class="column is-one-fifth">
            <aside class="book-toc">
              TOC
              {{ .TableOfContents }} <!-- Table of Contents -->
            </aside>
        </div>

          
        </div>
      </div>
    </section>

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{ partial "footer.html" . }}

    {{ partial "javascript.html" . }}
  </body>
</html>
