/* ==========================================================================
Hero styles
========================================================================== */

.hero-body {
    padding-top: 6rem;
    padding-bottom: 6rem;
    .title, .subtitle {
        // font-family: 'Helvetica', sans-serif;

        font-family: 'Poppins', sans-serif;
    }
    .title {
        &.is-bold {
            font-weight: 800;
            font-size: 64px;
        }
    }
    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
}

.hero-foot {
    img.partner-logo {
        height: 70px;
    }
}
