h1, h2, h3, h4, h5, h6{
    font-family: 'Nunito', sans-serif;
    color: #17224d;
    white-space: wrap;
}
p{
    font-family: 'Montserrat', sans-serif;
}
.btn-aligner{
    background: #5220dd !important;
    border: #5220dd !important;
    color: #fff;
    padding: 11px 20px 13px 24px;
}

.btn-aligner:hover{
    color: #fff;
    box-shadow: 0 14px 26px -12px rgba(82, 32, 221, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(82, 32, 221, 0.2) !important;
}

.feature-card{
    min-height: 320px;
    height: auto;
    padding-bottom: 15px;
}
.feature-card .card-icon img{
    height: 200px;
}

.price-card{
    background: #f4f7fe;
    border-radius: 10px;
}
.price-card.is-active{
    box-shadow: 0 8px 12px 0 rgba(122,122,122,0.2);
    transform: scale(1.13);
    /*border: 0.1rem solid #f5f5f5;
     border-radius: 4px;
    width: 114%;
    margin-left: -7%; */
}
.price-card .card-title{
    background: rgb(255, 198, 71);
    color: #fff;
    padding: 40px 0px;
    border-radius: 10px 10px 0px 0px;
}
.price-card .card-title h4{
    font-size: 1.8rem;
    color: #363636;
}

.price-card .card-title h4.price{
    font-weight: 700;
    color: #363636;
}
.price-card .card-body{    
    padding: 40px 0px;
}
.price-card .card-body ul{
    margin: 40px 0px;
}
.price-card .card-body ul li{
    padding: .55em;
}

.cta img.partner-logo {
    height: 70px;
}
.cta  .tabs li{
    padding: 0.5em 1em;

}

.float-right{
    float: right;
}


menu{position:-webkit-sticky;position:sticky;top:50px;padding:.5rem;margin:.5rem;margin-top:0;padding-top:.85rem;height:calc(100vh - $grid-nav-height);overflow-y:auto;z-index:9}@media only screen and (max-width:600px){.menu{top:0}}.menu__label{font-family:montserrat,sans-serif;font-size:1rem;margin:.65rem 0;padding-bottom:.5rem;text-transform:capitalize}@media only screen and (max-width:600px){.menu__label{text-align:center;font-size:1.125rem}}.menu__title{cursor:pointer;position:relative;word-break:break-word;font-size:.925rem;height:30px;margin:.25rem 0;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-ms-flex-align:center;align-items:center}.menu__title[data-depth="1"]{font-size:.925rem;margin-left:1.25rem}.menu__title[data-depth="2"]{font-size:.925rem;margin-left:2.5rem}.menu__title[data-depth="3"]{font-size:.925rem;margin-left:3.75rem}.menu__title[data-depth="4"]{font-size:.925rem;margin-left:5rem}.theme__dark .menu__title{color:#fcfcfa}.theme__dark .menu__title.active{font-weight:700;color:#aed581}.theme__light .menu__title{color:#242729}.theme__light .menu__title.active{font-weight:700;color:#007d9c}.menu__title--collapse{cursor:pointer;word-break:break-word;font-size:16px;height:30px;margin:.25rem 0;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-ms-flex-align:center;align-items:center}.menu__title--collapse[data-depth="1"]{font-size:.925rem;margin-left:1.25rem}.menu__title--collapse[data-depth="2"]{font-size:.925rem;margin-left:2.5rem}.menu__title--collapse[data-depth="3"]{font-size:.925rem;margin-left:3.75rem}.menu__title--collapse[data-depth="4"]{font-size:.925rem;margin-left:5rem}.theme__dark .menu__title--collapse{color:#fcfcfa}.theme__dark .menu__title--collapse.active svg{color:#aed581}.theme__light .menu__title--collapse{color:#242729}.theme__light .menu__title--collapse.active svg{color:#007d9c}.theme__dark .menu__title--collapse:hover,.theme__dark .menu__title--collapse:active,.theme__dark .menu__title--collapse:focus{color:#ff6188}.theme__dark .menu__title--collapse:hover svg,.theme__dark .menu__title--collapse:active svg,.theme__dark .menu__title--collapse:focus svg{color:#ff6188;-webkit-transform:translateX(.125rem);-moz-transform:translateX(.125rem);-ms-transform:translateX(.125rem);transform:translateX(.125rem)}.theme__light .menu__title--collapse:hover,.theme__light .menu__title--collapse:active,.theme__light .menu__title--collapse:focus{color:#00acd7}.theme__light .menu__title--collapse:hover svg,.theme__light .menu__title--collapse:active svg,.theme__light .menu__title--collapse:focus svg{color:#00acd7;-webkit-transform:translateX(.125rem);-moz-transform:translateX(.125rem);-ms-transform:translateX(.125rem);transform:translateX(.125rem)}.menu__title--icon{margin-top:2px}.theme__dark .menu__title--icon{color:#fcfcfa}.theme__light .menu__title--icon{color:#535a61}.menu__title--icon.down{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);-webkit-transition:all .15s ease;-moz-transition:all .15s ease;-ms-transition:all .15s ease;-o-transition:all .15s ease;transition:all .15s ease}.menu__title--icon.downrtl{-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);-webkit-transition:all .15s ease;-moz-transition:all .15s ease;-ms-transition:all .15s ease;-o-transition:all .15s ease;transition:all .15s ease}.menu__title--icon.right{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:all .15s ease;-moz-transition:all .15s ease;-ms-transition:all .15s ease;-o-transition:all .15s ease;transition:all .15s ease}.menu__title--icon svg{display:block;margin:auto 0;-webkit-transition:all .15s ease;-moz-transition:all .15s ease;-ms-transition:all .15s ease;-o-transition:all .15s ease;transition:all .15s ease}.menu__alone{cursor:pointer;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.menu__list{max-height:0;overflow:hidden;word-wrap:break-word;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}.menu__list li{margin-left:1.25rem}.menu__list li.active{font-weight:700}.menu .active{max-height:100%}.theme__dark .menu li.active a{font-weight:700}.theme__light .menu li.active a{font-weight:700}

.table-row td:first-child{
    font-weight: bold;
}

.hero-bg{
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
    position: relative;
    overflow: hidden;;
}
.button.secondary-btn{
    font-size: 1.1rem;
}
.button.signup-button{
    width: auto;
}

.blog-list .content figure{
    margin: 0px;
}

@media (max-width: 767px) {
    .hero-body .title.is-bold{
        font-size: 1.8rem;
    }
    .price-card {
        margin-bottom: 50px;
    }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}