---
new_page_extension: md
auto_deploy: false
admin_path: ''
webhook_url: 
sections:
- type: directory
  path: content/estonian
  label: Pages Estonian
  create: all
  match: "**/*"
  exclude: howto
- type: directory
  path: content/russian
  label: Pages Russian
  create: all
  match: "**/*"
  exclude: howto
- type: directory
  path: content/english
  label: Pages English
  create: all
  match: "**/*"
  exclude: "/howto"
- type: directory
  path: ''
  label: Config
  create: all
  match: config.yaml
  new_doc_ext: yaml
- type: directory
  path: content/blog
  label: Blog
  create: all
  match: "**/*"
- type: directory
  path: content/resources
  label: Resources
  create: all
  match: "**/*"
upload_dir: static/uploads
public_path: "/uploads"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_env:
  - HUGO_ENV=staging
  - HUGO_VERSION=0.63.2
  preview_output_directory: public
  preview_docker_image: forestryio/hugo:latest
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: hugo server -D -E -F --port 8080 --bind 0.0.0.0 --renderToDisk
    -d public
version: 0.63.2
