<!-- Articles -->
<section class="section hero blog-list ">
    <div class="hero-body">
      <div class="container">
        <div class="title-wrapper has-text-centered pb-20">
            <h2 class="title is-2">{{ i18n "case_studies" }} </h2>
          </div>
        <section class="section case-study">
          <div class="columns is-multiline is-variable is-4 ">
            {{- range ( where site.RegularPages "Section" "case" | first 4 ) }}
            <div class="column is-6">
                <div class="content is-medium case mt-30">
                    <figure class="image">
                        <img src="{{ .Params.image | absURL }}" alt="{{.Title}}">
                    </figure>
					{{if  .Params.caseLogo }}
						<figure class="image logo">
							<img src="{{ .Params.caseLogo | absURL }}" alt="{{.Title}}"> 
						</figure>
					{{end}}
                    <h2 class="subtitle is-5 has-text-grey has-text-centered ">{{ .PublishDate.Format "January 2, 2006"  }}</h2>
                    <h1 class="title has-text-black has-text-centered  is-4">{{.Title}} </h1>
                    <!--<p class="has-text-dark">{{.Summary | safeHTML | truncate 150}}</p>  -->  
						<p  class="has-text-centered">
							<a href="{{.Permalink}}">
								<span class="button  btn-aligner has-text-centered ">
								{{ i18n "read_case_study" }}
								</span>
							</a>
						</p>
                </div>
            </div>
            {{end }}
            </div>
        </section>

        <!--
      <div class="columns">
        <div class="column is-full has-text-centered mt-20">          
        <p>
          <a class="button cta secondary-btn  btn-aligner rounded" href="/blog">
            Check out our blog
          </a>
          </p>
        </div>

-->
      
    </div>
	
        

                    
             
          </div>
        </section>