{{- $section2 := .Site.Params.froalaDesign }}
{{- $title    := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $features := index $section2 "features" }}
<section class="section is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>
    {{- range $index, $ele := $features }}
    <div class="columns mt-60">
      <div class="column is-centered-tablet-portrait" style=" {{if not (modBool $index 2)}}order:1{{end}}">
        <figure class="media-left">
          <p class="image">
            <img src="{{ .image | relURL }}">
          </p>
        </figure>
      </div>
      <div class="column is-6 ">        
        <article class="media icon-box">          
          <div class="media-content mt-60">
            <div class="content">
              <p>
                <span class="title is-3">{{ .title }}</span>
                <span class="icon-box-text">{{ .text | markdownify }}</span>
              </p>

             

              <p><a class="button btn-align-md  raised {{ .btnKlass | markdownify }}" href="{{ .btnURL | markdownify }}">{{ .btnText | markdownify }}</a></p>
            </div>
          </div>
        </article>
        
      </div>
    </div>
    {{- end }}

  </div>
</section>



