<!-- Articles -->
<section class="section hero blog-list section-feature-grey">
    <div class="hero-body">
        <div class="container">
            <div class="title-wrapper has-text-centered pb-20">
                <h2 class="title is-2">{{ .Site.Params.latestTitle  }}</h2>
            </div>            
            <section class="section">
                <div class="columns is-variable is-8">
                    {{- range ( where site.RegularPages "Section" "blog" | first 2 ) }}
                        <div class="column is-5 is-offset-1">
                            <div class="content is-medium ">
                                <figure class="image ">
                                    <img src="{{ .Params.image | absURL }}" alt="{{.Title}}" style="width: auto; height: 200px; border-radius: 10px; position: relative;">
                                </figure>
                                <h2 class="subtitle is-5 has-text-grey">{{ .PublishDate.Format "01-02-2006"  }}</h2>
                                <h1 class="title has-text-black is-3">{{.Title}} </h1>
                                <p class="has-text-dark">{{.Summary | safeHTML | truncate 150}}</p>                        
                                <a href="{{.Permalink}}">
                                    <span class="button signup-button rounded secondary-btn btn-aligner ">
                                        {{ .Site.Params.moreBtn  }} →
                                    </span>
                                </a>
                            </div>
                        </div>
                    {{end }}
                </div>
            </section>                
            <div class="columns">
                <div class="column is-full has-text-centered mt-20">          
                    <p>                
                        <a class="button cta secondary-btn  btn-aligner rounded" href='{{.Site.Params.checkBlogUrl}}'>
                            {{ .Site.Params.checkBlog  }}  
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>