{{- $pricing   := .Site.Params.pricing }}
{{- $title      := index $pricing "title" }}
{{- $subtitle   := index $pricing "subtitle" }}
{{- $plans   := index $pricing "plans" }}
<section class="section section-feature-grey is-medium">
  <div class="container"> 
    <div class="title-wrapper has-text-centered pb-20">
      <h2 class="title is-2">{{ $title }}</h2>
      {{ if $subtitle }} <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3> {{end}}
    </div>

    <div class="content-wrapper ">
      <div class="columns">
        {{- range $index, $elements := $plans }}
        <div class="column is-one-third ">
          <div class="price-card is-bordered has-text-centered   {{if eq $index 1}} is-active{{end}}">
            <div class="card-title">
              <h4>{{ .title }}</h4>
              <h4 class="price">${{ .price }}</h4>
            </div>
            <div class="card-body">
              <div class="card-icon">
                  <img src="{{  .icon | relURL }}">
              </div>
              <div class="card-text mt-20">
                <p><strong>{{ .heighlight }}</strong></p>
                <ul>
                {{ range .features}}
                  <li>{{ .text }}</li>
                {{end}}
              </ul>
              </div>
              <div class="card-action">
                <a href="{{ .btnURL }}" class="button btn-align-md {{ .btnKlass }} raised">{{ .btnText }}</a>
              </div>
            </div>


          </div>
        </div>
        {{- end }}
      </div>
    </div>






  </div>



</section>

