{{ define "main" }}
<section class=" is-fullheight is-default is-bold">
    {{ partial "navbar.html" . }}
    {{ partial "navbar-clone.html" . }}
</section>

{{ "<!-- 404 page -->" | safeHTML }}
<section class="section is-medium">
    <div class="container">
      <div class="columns mt-60">
        <div class="column   is-7">
          <h2 class="title is-4">Page Not Found</h2>
        </div>
      </div>

      <div class="columns mt-60">
        <div class="column">
            <figure class="media-left">
                <p class="image has-text-centered">
                  <img src="{{ "/images/404.svg" | absURL }}"  alt="404 page not found" width=500px class="image" style="margin:auto;">
                </p>
              </figure>
        </div>
      </div> 
    </div>
</section>
{{ "<!-- /404 page -->" | safeHTML }}


{{ if .Site.Params.footer }}
{{ partial "footer.html" . }}
{{ end }}

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

{{ if .Site.Params.sidebar }}
{{ partial "sidebar.html" . }}
{{ end }}

{{ end }}